*{
    padding: 0;
    margin: 0;
}

.logoYmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background-color: #ffffff;
    margin-top: 100px;
}

.logo {
    margin-top: 20px; 
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-family: Roboto;
}

.menuNavegacion ul {
    list-style-type: none;
    padding: 0;
}

.menuNavegacion li {
    display: inline-block;
    margin: 20px; 
}

.menuNavegacion a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
}

.menuNavegacion {
    border-bottom-width: 5px;
    border-bottom-style: inset;
    border-bottom-color-: #000;
    width: 100%;
}

.articulo-destacado h2{
    padding-top: 80px;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 40px;
}

.articulo-destacado{
border-bottom: 8px solid #000; 
width: 1200px; 
margin: 0 auto; 
padding-bottom: 0px; 
}

.contenedor-imagenes {

    display: flex;
    justify-content:  center;

}

.contenedor-imagenes-img img{
            height: 400px;
            width: 300px;
            object-fit: cover;
            margin-left: 10px;
            padding-top: 15px;
            border-radius: 5px;
        }

.articulo-ultimos h2 {
    padding-top: 80px;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 40px;
}

.articulo-ultimos{
    border-bottom: 8px solid #000;
    width: 1200px;
    padding-bottom: 0px;
    margin: 0 auto;
}

.contenedor-imagenes-utilmo{
    display: flex;
    justify-content: center;
}   

.contenedor-imagenes-ultimo-img img{

    height: 400px;
    width: 300px;
    object-fit: cover;
    margin-left: 10px;
    padding-top: 15px;
    border-radius: 5px;
}

.articulo-lista h2{
    padding-top: 80px;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 40px;
}

.articulo-lista{
    border-bottom: 8px solid #000;
    width: 1200px;
    padding-bottom: 0px;
    margin: 0 auto;
}

.contenedor-imagenes-lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor-imagenes-lista-img img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin-left: 10px;
  padding-top: 15px;
  border-radius: 5px;
}



.footer{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background-color: greenyellow;
}

.footer-lista li{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 30px; 
}